<div class="bg_atest">


  <div class="appletitle">
      <h1>EXCHANGE SEMINER MEMBER</h1>
  </div>

  <div class="appleexplain">
    èª¬æ˜Ž
  </div>

  <div class="appleline">
    3å¹´
  </div>
  <div class="applebuttonbox-big"> 
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "ðŸ‘‰ç›¸è«‡ã—ãŸã„ðŸ‘ˆ", tweets_grape_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'chisei.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      ã‚¼ãƒŸé•·
      </div>
      <div class="applecontext"> 
      çµŒå–¶å­¦ç§‘
      </div>  
    </div>
    
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "ðŸ‘‰ç›¸è«‡ã—ãŸã„ðŸ‘ˆ", tweets_kiwi_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'asuka.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      å‰¯ã‚¼ãƒŸé•·
      </div>
      <div class="applecontext"> 
      ãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°å­¦ç§‘
      </div>
    </div>

    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "ðŸ‘‰ç›¸è«‡ã—ãŸã„ðŸ‘ˆ", tweets_orenge_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'aiyuki.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      webé–‹ç™ºè€…
      </div>
      <div class="applecontext"> 
      çµŒå–¶å­¦ç§‘
      </div>
    </div>

    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "ðŸ‘‰ç›¸è«‡ã—ãŸã„ðŸ‘ˆ", tweets_mango_path %>
      </div>
      <div class="applebox"> 
       <%= image_tag 'yuka.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      åºƒå ±æ‹…å½“
      </div>
      <div class="applecontext"> 
      ãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°å­¦ç§‘
      </div>
    </div>
  </div>

</div>

