<div class="bg_atest">


  <div class="appletitle">
      <h1>EXCHANGE SEMINER MEMBER</h1>
  </div>

  <div class="appleexplain">
    <div class="appleexplain1">
    〜中野ゼミが気になっている新2年生の皆さんへ〜
    </div>
    <div class="appleexplain2">
    個別に質問したいこととか相談したい内容がある方必見!
    </div>
    <div class="appleexplain3">
    このページでは、一部の現役ゼミ生との交流ができる場です！
    </div>
    <div class="appleexplain4">
    気になったらクリックして詳細を見てね！
    </div>
    <div class="appleexplain5">
    一人一人個性あふれる優しい先輩ばかりです！
    </div>
    <div class="appleexplain6">
    気軽に相談してね！
    </div>
  </div>

  <div class="appleexplaintwo">
    <div class="appleexplaintwo0">
    このページの使用方法
    </div>
    <div class="appleexplaintwo1">
    ①下から相談したい先輩を選んでね！
    </div>
    <div class="appleexplaintwo2">
    ②中野ゼミinstagramのDMに下記の情報を送ってください！
    </div>
    <div class="appleexplaintwo2">
    ※下のinstagramロゴを押すと飛べるよ👍
    </div>
    <div class="appleexplaintwo3">
    ・自分の名前
    </div>
    <div class="appleexplaintwo4">
    ・相談したい先輩の名前
    </div>
    <div class="appleexplaintwo5">
    ・相談質問したい内容
    </div>
    <div class="appleexplaintwo6">
    ＊個別にオンラインまたはオフラインで話してみたい方は
    </div>
    <div class="appleexplaintwo7">
    「オンラインorオフライン相談希望」と書いてください！
    </div>
    <div class="appleexplaintwo8">
    質問例
    </div>
    <div class="appleexplaintwo9">
    ー＞「プライベートと両立はできるんですか？」「チーム研究ってなんですか？」「ゼミ生はどんな企業に就職するんですか？」
    </div>
    <div class="appleexplaintwo10">
    「具体的にどんなことをするんですか？」「ゼミの雰囲気ってどんな感じですか？」
    </div>
    <div class="appleexplaintwo10">
    なんでも答えます！
    </div>
  </div>

  


  <div class="appleline">
    4年
  </div>
  <div class="applebuttonbox-big"> 
    <div class="applebuttonbox"> 
      <div class="applebutton">
        <%= link_to "👉相談したい👈", tweets_pear_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'yuuna.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      元ゼミ長
      </div>
      <div class="applecontext"> 
      経営学科
      </div>  
    </div>
    
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_berry_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'emiri.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      留学経験者
      </div>
      <div class="applecontext"> 
      経営学科
      </div>
    </div>
  </div>
 




  <div class="appleline">
    3年
  </div>
  <div class="applebuttonbox-big"> 
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_grape_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'chisei.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      ゼミ長
      </div>
      <div class="applecontext"> 
      経営学科
      </div>  
    </div>
    
    <div class="applebuttonbox1"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_kiwi_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'asuka.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      副ゼミ長
      </div>
      <div class="applecontext"> 
      マーケティング学科
      </div>
    </div>

    <div class="applebuttonbox2"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_orenge_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'yuki.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      web開発者
      </div>
      <div class="applecontext"> 
      経営学科
      </div>
    </div>

    <div class="applebuttonbox3"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_mango_path %>
      </div>
      <div class="applebox"> 
       <%= image_tag 'yuka.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      広報担当
      </div>
      <div class="applecontext"> 
      マーケティング学科
      </div>
    </div>
      <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_peach_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'maochi.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      イベント係
      </div>
      <div class="applecontext"> 
      経営学科
      </div>
    </div>

    <div class="applebuttonbox4"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_cherry_path %>
      </div>
      <div class="applebox"> 
       <%= image_tag 'sora.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      広報担当
      </div>
      <div class="applecontext"> 
      経営学科
      </div>
    </div>
  </div>



  <div class="appleline">
    2年
  </div>
  <div class="applebuttonbox-big"> 
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_lemon_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'aoto.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      経営学科
      </div>  
    </div>
    
    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_tomato_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'souta.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      マーケティング学科
      </div>
    </div>

    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_melon_path %>
      </div>
      <div class="applebox"> 
        <%= image_tag 'souki.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      経営学科
      </div>
    </div>

    <div class="applebuttonbox"> 
      <div class="applebutton">
            <%= link_to "👉相談したい👈", tweets_corn_path %>
      </div>
      <div class="applebox"> 
       <%= image_tag 'mappi.jpg', class:"apple-image"%>
      </div>
      <div class="applecontext"> 
      マーケティング学科
      </div>
    </div>
  </div>



</div>

