<div class="bg_ctest">
    <div class="cattitle">  
        <h1>ACTIVITY</h1>
    </div>

    <div class="catonebox">
        <div class="catonebox1">
        活動内容
        </div>
        <div class="catonebox2">
        中野ゼミでは、学問と実践を融合させた多様な活動が行われています。
        </div>
        <div class="catonebox2">
        ここでは、学びを通じて人間関係を深めるだけでなく、
        </div>
        <div class="catonebox20">
        ビジネスパーソンとしてのスキルを実際の場面で磨くことができます。
        </div>
    </div>

    <div class="cattwobox">
        <div class="cattwoboxmini">
            <div class="caten">
            <%= image_tag 'nikkei.jpg', class:"cat-image"%>
            </div>
            <div class="cattwobox10">
            3分間スピーチ
            </div>
            <div class="cattwobox1">
            日経ビジネスという経済誌を使用して、
            </div>
            <div class="cattwobox1">
            ゼミ生が自身の関心事について3分間でスピーチをします。
            </div>
            <div class="cattwobox1">
            これにより、プレゼンテーションスキルを鍛え、
            </div>
            <div class="cattwobox1">
            論理的思考力を向上させます。
            </div>
        </div>
    </div>
    <div class="cattwobox">
        <div class="cattwoboxmini">
            <div class="caten">
            <%= image_tag 'book.png', class:"cat-image"%>
            </div>
            <div class="cattwobox10">
            輪読
            </div>
            <div class="cattwobox1">
            指定された専門書や論文を読み込み、
            </div>
            <div class="cattwobox1">
            ゼミ生全員で深く深く議論します。
            </div>
            <div class="cattwobox1">
            これにより、他者の意見を取り入れつつ、
            </div>
            <div class="cattwobox1">
            自分の考えを発展させることができます。
            </div>
        </div>
    </div>
    <div class="cattwobox">
        <div class="cattwoboxmini">
            <div class="caten">
            <%= image_tag 'team2.png', class:"cat-image"%>
            </div>
            <div class="cattwobox10">
            チーム研究
            </div>
            <div class="cattwobox1">
            ゼミ生はチームに分かれて、
            </div>
            <div class="cattwobox1">
            社会的課題に取り組む研究を行います。
            </div>
            <div class="cattwobox1">
            自分たちで研究テーマを設定し、
            </div>
            <div class="cattwobox1">
            企業訪問やインタビューを通じて
            </div>
            <div class="cattwobox1">
            課題解決のためのソーシャルビジネスを実施します。
            </div>
            <div class="cattwobox1">
            行った研究は経営学会やインナー大会で発表し、
            </div>
            <div class="cattwobox1">
            そこで高い評価を得ることを目指します。
            </div>
        </div>   
    </div>



    <div class="catsixbox">
        <div class="catsixbox1">
        アクティビティーの年間表
        </div>
        <div class="catsixbox2">
        <%= image_tag 'plan3.png', class:"cattwo-image"%>
        </div>
    </div>  
    <div class="catfivebox">
        <div class="catfivebox1">
        現役2年ゼミ生の1週間スケジュール
        </div>
        <div class="catfivebox2">
        <%= image_tag 'plan1.jpg', class:"catone-image"%>
        </div>
    </div>    
  


</div>


  