<div class="bg_dtest">
    <div class="dogtitle">
        <h1>MEMBER</h1>
    </div>

    <div class="dogonebox">
        <div class="dogonebox1">
        </div>
        <div class="dogonebox2">
            <div class="dogonebox20">
            ゼミ開設：2007年
            </div>
            <div class="dogonebox21">
            活動日：2024年度秋は金曜日３限〜
            </div>
            <div class="dogonebox22">
            中野ゼミは3学年合同でゼミを行なっています.
            </div>
            <div class="dogonebox23">
            ※ゼミ生人数：33人
            </div>
            <div class="dogonebox24">
            ４年生(9人),    ３年生(12人),    2年生(12人)
            </div>
            <div class="dogonebox25">
            男女比　6：４
            </div>
        </div>
    </div>
  

    <div class="dogtwobox">
        <div class="dogtwobox1">
        指導教員
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'nakanot.png', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            中野剛治先生
            </div>
            <div class="dogtwobox40">
            なかの　こうじ
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部第一部
            </div>
            <div class="dogtwobox43">
            経営学科　准教授
            </div>
        </div>
    </div>

    <div class="dogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            講義科目
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                基礎演習入門
                </div>
                <div class="dogtwobox51b1">
                ソーシャルビジネス実習講義
                </div>
                <div class="dogtwobox51b1">
                ベンチャー企業論
                </div>
                <div class="dogtwobox51b1">
                起業支援論
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            中野先生からのメッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                当ゼミでは、ゼミ生が自分のやりたいことや考えたことを
                </div>
                <div class="dogtwobox51b1">
                熱意を持って実現し、
                </div>
                <div class="dogtwobox51b1">
                卒業後も「同じ目標に向かって取り組んだ仲間」として
                </div>
                <div class="dogtwobox51b1">
                語り合えるような、
                </div>
                <div class="dogtwobox51b1">
                熱い人間関係を残りの大学生活で作っていきましょう
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            その他
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                血液型：O型
                </div>
                <div class="dogtwobox51b1">
                出身：福岡県
                </div>
                <div class="dogtwobox51b1">
                出身大学：東京大学大学院
                </div>
                <div class="dogtwobox51b1">
                似ている芸人：???
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:魚料理
            </div>
            <div class="dogtwobox51b1">
            好きな映画:シザーハンズ
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:カントリーマアム
            </div>
            <div class="dogtwobox51b1">
            一言：中野ゼミで「楽しい」経営学の学びを満喫してください！
            </div>
        </div>
    </div>

    <div class="dogthreebox">
        <div class="dogthreebox1">
        ゼミ生
        </div>
        <div class="dogthreebox2">
            <div class="dogthreebox20">
            </div>
        </div>

        <div class="dogthreebox2a">
            <div class="dogthreebox4">
            <%= image_tag 'zemisei1.jpg', class:"dog-zemiimage1"%>
            </div>
            <div class="dogthreebox40">
            <%= image_tag 'zemisei2.jpg', class:"dog-zemiimage2"%>
            </div>
            <div class="dogthreebox41">
            <%= image_tag 'zemisei3.jpg', class:"dog-zemiimage3"%>
            </div>
        </div>

        <div class="dogthreebox3">
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
        メンバー紹介
        </div>
        <div class="dogbutton">
            <%= link_to "現役ゼミ生との交流", tweets_apple_path %>
        </div>
    </div>
</div>

