<div class="bg_otest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>

    <div class="orengebox">
      <%= image_tag 'chisei.jpg', class:"orenge-image"%>
    </div>

    <div class="triangle">
    </div>

    <div class="grapebox2">
        <div class="purofiletitle">
        学年：3年
        </div>  
        <div class="purofiletitle">
        MBTI:ESFJ
        </div>
        <div class="purofiletitle">
        名前：秋元ちせい
        </div>  
        <div class="purofiletitle">
        学科：経営学科
        </div>  
        <div class="purofiletitle">
        出身地：千葉県
        </div>   
        <div class="purofiletitle">
        バイト：ラーメン屋
        </div>  
        <div class="purofiletitle">
        趣味：野球観戦
        </div>  
        <div class="purofiletitle">
        なんでも相談してね！
        </div>  
        <div class="purofiletitle">
        アピールポイント
        </div>  
        <div class="purofiletitle">
        ＃基礎演習入門から入ゼミ
        </div>
        <div class="purofiletitle">
        ＃優しくて世話好き
        </div>
    </div>





    <div class="orengesend">
        <%= link_to "新規投稿へ", new_tweet_path %>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <div class="tweets-container">
        <% @tweets.each do |t| %>
            <div class="tweet">
            <%= t.body %>
            <%= t.title %>
            <%= t.user.email %>
            <%= t.created_at %>

            <span class="star-rating">
                <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
                <span class="star-rating-back">★★★★★</span>
            </span>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                    <p>いいねを取り消す</p><%= t.likes.count %>
                <% end %>
                <% else %>
                <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
                    <p>いいね</p><%= t.likes.count %>
                <% end %>
                <% end %>
            <% else %>
                <p>いいねの数 = </p><%= t.likes.count %>
            <% end %>
            </div>
        <% end %>
        </div>
        <div class="reversebutton">
        <%= link_to "ゼミ生交流に戻る", tweets_apple_path %>
        </div>
    </div>
</div>