<h1>ゼミ生交流</h1>
<h3>新規tweet</h3>
<%= form_for @tweet do |f| %>

    <div class="field">
      <%= f.label :body  %>
      <%= f.text_area :body, :size => "30x2" %>
    </div>


    <div class="field">
      <%= f.label :title  %>
      <%= f.select :title, 
      [["ゼミ", "ゼミ"], 
      ["生徒", "生徒"], 
      ["先生", "先生"]], include_blank: "選択して下さい" %>
    </div>
    <div class="post_form">
    <%= f.radio_button :overall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">最高</span>★</label>

    <%= f.radio_button :overall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">良い</span>★</label>

    <%= f.radio_button :overall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">普通</span>★</label>

    <%= f.radio_button :overall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">悪い</span>★</label>

    <%= f.radio_button :overall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
 </div>
      


  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>

