


<!DOCTYPE html>
<html>
  <head>
  <title>Soul</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>
  <body>
  <header>
   <div class="header-list">
    <ul>
     <% if user_signed_in? %>
      <li><%= link_to "top", tweets_path %></li>
      <li><%= link_to "about us",tweets_job_path %></li>
      <li><%= link_to "member",tweets_dog_path %></li>
      <li><%= link_to "activity",tweets_cat_path %></li>
      <li><%= link_to "ゼミ生交流",tweets_apple_path %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
     <% else %>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
     <% end %>
    </ul>



   </div>
  </header>
  <main>
   <%= yield %>
  </main>
 </body>
 



</html>

