<!DOCTYPE html>
<html>
  <head>
  <title>中野ゼミ紹介サイト</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/c18521ba42.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>
  <body>
  <header>
   <div class="header-list">
    <ul>
      <li><%= link_to "top", tweets_path %></li>
      <li><%= link_to "about us",tweets_job_path %></li>
      <li><%= link_to "member",tweets_dog_path %></li>
      <li><%= link_to "activity",tweets_cat_path %></li>
      <li><%= link_to "ゼミ生交流",tweets_apple_path %></li>
    </ul>
   </div>
  </header>
  <main>
   <%= yield %>
  </main>
 

   
  <footer>
    <%= link_to "https://www.instagram.com/nakanozemi.toyo/" do %> 
      <i class="fa-brands fa-instagram fa-3x faa-wrench animated-hover"></i>
    <% end %>

    <%= link_to "http://toyoblog.nakano-seminar.jp/#gsc.tab=0" do %> 
      <i class="fa-solid fa-book fa-3x faa-wrench animated-hover"></i>
    <% end %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </footer>
  </body>
 
</html>
